[submodule "unitree_rl_mjlab"]
	path = unitree_rl_mjlab
	url = https://github.com/kieranparanjpe/unitree_rl_mjlab.git
	branch = h2_main
[submodule "unitree_rl_lab"]
	path = unitree_rl_lab
	url = https://github.com/kieranparanjpe/unitree_rl_lab.git
	branch = h2_main
[submodule "unitree_model"]
	path = unitree_model
	url = https://huggingface.co/datasets/unitreerobotics/unitree_model
[submodule "unitree_ros2"]
	path = unitree_ros2
	url = https://github.com/kieranparanjpe/unitree_ros2.git
	branch = h2_main
